{# Define variables for version parts and flags #}

{% set _upstream_version = changelog.version.upstream_version %}
{% set leenooks_version =  _upstream_version | regex_search('^\\d+\\.\d+') %}
{% if '~' is in _upstream_version %}
{% set leenooks_modifier = _upstream_version | regex_replace('.*~(.*)$', '\\1') %}
{% set leenooks_upstream = leenooks_version + '-' + leenooks_modifier %}
{% set abiname =           leenooks_version + '.0-' + leenooks_modifier %}
{% else %}
{% set leenooks_modifier = none %}
{% set leenooks_upstream = leenooks_version %}
{% set abiname =           leenooks_version + '.0-' ~ abiname_part %}
{% endif %}
{% set leenooks_upstream_full = _upstream_version.replace('~', '-') %}

{% set _debian_revision = changelog.version.debian_revision %}
{% set leenooks_revision_experimental =
       _debian_revision | regex_search('~exp\\d') is not none %}
{% set leenooks_revision_security =
       _debian_revision | regex_search('[~+]deb\\d') is not none %}
{% set leenooks_revision_backports =
       _debian_revision | regex_search('~bpo\\d') is not none %}
{% set leenooks_revision_other =
       _debian_revision | regex_search('^\\d+(?:\\.\\d+)?(?:\\+b\\d+)?$') is none
       and not leenooks_revision_experimental
       and not leenooks_revision_security
       and not leenooks_revision_backports %}
